@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b1d51;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map {
  width: 98vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2.5rem;
  color: red;
}

.ubicacion-info {
  position: absolute;
  top: 20px;
  right: 50px;
  min-width: 400px;
  padding: 8px;
  background-color: rgba(58, 58, 58, 0.8);
  border-radius: 10px;
  font-size: 14px;
  border: 5px solid #000000;
  color: white;
}

.ubicacion-info ul {
  list-style: none;
  padding: 0;
}

.ubicacion-info li {
  padding: 5px;
}

.ubicacion-info h2 {
  text-align: center;
  margin: 0;
}

.ubicacion-info li a {
  color: white;
}

.footer {
  text-align: center;
  padding: 15px 20px;
  max-width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-weight: 300;
  background-color: #0b1d51;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer h2 {
  margin: 10px 0 15px 0;
  font-size: 24px;
  font-weight: 600;
}

.footer h4 {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
  text-align-last: center;
  font-weight: 300;
  padding: 0 20px;
}