body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon{
  font-size: 2.5rem;
  color: red;
}

.ubicacion-info{
  position: absolute;
  top: 50px;
  right: 100px;
  min-width: 400px;
  padding: 8px;
  background-color: rgba(58, 58, 58, 0.8);
  border-radius: 10px;
  font-size: 22px;
  border: 5px solid #000000;
  color: white;
}

.ubicacion-info ul{
  list-style: none;
  padding: 0;
}

.ubicacion-info li{
  padding: 5px;
}

.ubicacion-info h2{
  text-align: center;
}

.ubicacion-info li a{
  color: white;
}