body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon{
  font-size: 2.5rem;
  color: red;
}

