body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon{
  font-size: 2.5rem;
  color: red;
}

.ubicacion-info{
  position: absolute;
  top: 50px;
  right: 400px;
  min-width: 400px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.7 );
  border-radius: 10px;
  font-size: 18px;
  border: 5px inset #000000;  font-size: 18px;
  color: black;
}

.ubicacion-info ul{
  list-style: none;
  padding: 0;
}

.ubicacion-info li{
  padding: 5px;
}